table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    width: 900px;
    height: 30px;
    text-align: center;
}
body{
    font-family: Arial, cursive, sans-serif;
}
#Monday,#Tuesday,#Wednesday,#Thursday,#Friday{
    font-weight: bold;
}
